= f.inputs do
  - if current_user.isOwner? group
    =f.input :name
    = f.input(:owner_id, as: :select, collection: @ownerSelect, include_blank: false)
    %span.confirm
      = check_box_tag :own_ok
      = label_tag :own_ok, "Confirm change of owner."

    #admin_edit
      %h3 Edit Administrator Roles
      - unless @userSelect.empty?
        = f.input(:admins, as: :check_boxes, collection: @userSelect, label: "Admins", hidden_fields: false)
        %span.confirm
          = check_box_tag :adm_ok
          = label_tag :adm_ok, "Confirm change of admins."
      - else
        = I18n.t "group.failure.no_users"

  = f.input(:user_ids, as: :select, collection: @userSelect, label: "Remove User", selected: "", disabled: [current_user.id])
  %span.confirm
    = check_box_tag :usr_ok
    = label_tag :usr_ok, "Confirm removal of user."

